.navbar {
    height: 60px;
}

#kudos {
    height: 92vh;
    overflow-y: scroll;
}

.nameLogo {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 37px;
    margin-top: 8px;
    height: 49px;
}

.btn.btn-primary {
    background-color: #473080;
    border-color: #473080;
    color: #ffde39;
}

.purple {
    font-weight: bold;
    color: #473080;
}

.center {
    text-align: center;
}

ol {
    padding-right: 25px;
    margin-bottom: 0px;
}

em {
    font-size: 112.5%;
}

h5#welcome {
    margin-bottom: 0px;
}